[submodule "benchmarking/inference/merlin/repo"]
	path = benchmarking/inference/merlin/repo
	url = https://github.com/StanfordMIMI/Merlin.git
[submodule "benchmarking/inference/brainmd/repo"]
	path = benchmarking/inference/brainmd/repo
	url = https://github.com/YuliWanghust/BrainMD.git
[submodule "benchmarking/inference/deeptumorvqa/repo"]
	path = benchmarking/inference/deeptumorvqa/repo
	url = https://github.com/Schuture/DeepTumorVQA.git
[submodule "benchmarking/inference/fila/repo"]
	path = benchmarking/inference/fila/repo
	url = https://github.com/alibaba-damo-academy/fvlm.git
[submodule "benchmarking/inference/med3dvlm/Med3DVLM"]
	path = benchmarking/inference/med3dvlm/Med3DVLM
	url = https://github.com/mirthai/med3dvlm.git
[submodule "benchmarking/inference/vila-m3/repo"]
	path = benchmarking/inference/vila-m3/repo
	url = https://github.com/Project-MONAI/VLM-Radiology-Agent-Framework
[submodule "benchmarking/inference/m3d/repo"]
	path = benchmarking/inference/m3d/repo
	url = https://github.com/BAAI-DCAI/M3D
[submodule "benchmarking/inference/radfm/repo"]
	path = benchmarking/inference/radfm/repo
	url = https://github.com/chaoyi-wu/RadFM
